{% extends '::base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>RoboChicken</h1>
        <p>She-Who-Lays-Many-Eggs</p>
        <form class="form-horizontal" method="get" >
            <div class="form-group">
                <label for="breed">Bloodline</label>
                <input type="text" id="breed" class="form-control" required>
                <button id="button" type="button" class="btn btn-primary" onclick="test();">Egglaying Computation Go!</button>
            </div>
        </form>
        <div id="result"></div>
    </div>
    <script type="text/javascript">
        function test(){


            var path = '/app_dev.php/show';
            var req,
                 el = document.getElementById("breed");

            if("textContent" in el){
                req = encodeURIComponent('breed='+el.textContent);
            }
            else{
                req = encodeURIComponent('breed='+el.innerText);
            }



            $.ajax({
                type: "GET",
                url: path,
                data: req,
                dataType: "text",
                success: function(msg){
                    $("#result").html(msg);
                }
            });

            return false;

        }
    </script>
{% endblock %}